:root{
    --bgprimary: #222126;
    --first: #ff7bc0;
    --second: #974dc4;
    --third:#51409a;
    --four: #303868;
    --five:#635ada;
    --six: #219be4;
    --bgforignt: whitesmoke;
    --rotate:45deg;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    color: transparent;
    background: black;
    transform:perspective(2000px);
    transform-style: preserve-3d;
}
.flood{
    position: relative;
    width: 600px;
    height: 600px;
    top:30px;
    background-image: 
    radial-gradient(var(--first),var(--four)),
    repeating-conic-gradient(from 45deg, var(--first)0deg 90deg, var(--four) 90deg 180deg);
    background-size:100%, 2rem 2rem ;
    transform: rotateX(70deg)translateY(-20px);
    filter: drop-shadow(0 0 50px var(--bgforignt)) drop-shadow(10px 10px 20px var(--bgprimary));
    box-shadow: 0 0 20px var(--bgprimary),
    0 0 40px var(--bgforignt),
    0 0 50px var(--bgforignt);

    animation:animateOne 15s linear infinite ;
}
@keyframes animateOne{
   0%{
        filter: blur(30px);
   }
   40%{
        filter: blur(30px);
   }
   60%{
        filter: blur(40px);
   }
   80%{
        filter: blur(50px);
   }
   100%{
        filter: blur(30px);
   }
}
section{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-100;
}
section i{
    position: absolute;
    background: var(--bgforignt);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--bgforignt),
    0 0 40px var(--bgforignt),
    0 0 50px var(--bgforignt),
    0 0 60px var(--bgforignt),
    0 0 70px var(--bgforignt),
    0 0 80px var(--bgforignt);
    animation:animateTwo linear infinite ;
}
@keyframes animateTwo {
    0%{
        opacity: 0.3;
        transform: translateX(20px);
    }
    10%{
        opacity: 0.8;

    }
    80%{
        opacity: 0.8;
        transform: translateX(-20px);
    }
    100%{
        opacity: 0;

    }
    
}

.container{
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(-202deg) rotateY(-323deg) translateZ(-122px) translateX(40px) translateY(10px) ;
    animation: animateThree 15s ease-in-out infinite;
    animation-delay: 2s;
    transform-origin: bottom;
} 
@keyframes animateThree{
    0%{
        transform: rotateX(-202deg) rotateY(-323deg) translateZ(-122px) translateX(40px)translateY(10px)rotateY(0);
    }
    30%{
        transform: rotateX(-202deg) rotateY(-323deg) translateZ(-122px)translateX(40px)translateY(100px) rotateY(180deg);
    }
    70%{
        transform: rotateX(-202deg) rotateY(-323deg) translateZ(-122px)translateX(100px)translateY(170px) rotateY(90deg) ;
    }
    100%{
        transform: rotateX(-202deg) rotateY(-323deg) translateZ(-122px)translateX(40px)translateY(10px) rotateY(-360deg);
    }
}

.container .loader{
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .loader:nth-child(1){
    transform: translateZ(0px);
}

.container .loader:nth-child(2){
    transform: translateZ(50px);
}
 .container .loader:nth-child(3){
    transform: translateZ(100px);

} 

.container .loader .cube{
    transform-style: preserve-3d;
    margin-bottom: 50px;
}

.container .loader .cube .box{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(calc(-50px * var(--x)), calc(-50px * var(--y)));
    transform-style: preserve-3d;
}
.container .loader .cube .box span{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: var(--bgforignt);
    transform-style: preserve-3d;
    filter: brightness(1.8);
    opacity: 0.6;
    box-shadow: 0 0 20px var(--bgprimary),
    0 0 40px var(--bgforignt),
    0 0 50px var(--bgforignt);  
}
.container .cube div span:nth-child(1){
    transform: rotateX(0deg) translate3d(0,0,23px);
} 
.container .cube div span:nth-child(2){
    transform: rotateX(90deg) translate3d(0,0,23px);
}
.container .cube div span:nth-child(3){
    transform: rotateX(180deg) translate3d(0,0,23px);
} 
.container .cube div span:nth-child(4){
    transform: rotateX(-90deg) translate3d(0,0,23px);
}
 .container .cube div span:nth-child(5){
    transform: rotateY(90deg) translate3d(0,0,-25px);
}
 .container .cube div span:nth-child(6){
    transform: rotateY(90deg) translate3d(0,0,23px);
}
.container .cube div span:nth-child(1)::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top,var(--second),var(--four));
    filter: blur(5px);
} 
.container .cube div span:nth-child(6)::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, var(--four),var(--first));
    filter: blur(5px);
} 
.container .cube div span:nth-child(5)::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--six),var(--five));
    filter: blur(5px);
} 
.container .cube div span:nth-child(2)::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--five),var(--third));
    filter: blur(5px);
} 
.container .cube div span:nth-child(4)::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right,var(--third),var(--five));
    filter: blur(5px);
} 
.container .cube div span:nth-child(3)::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right,var(--four),var(--third));
    filter: blur(5px);
} 
.Btn-01{
    width: 10%;
    height: 10vh;
    border: 4px solid var(--bgforignt);
    border-radius: 30px;
    text-align: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: transparent;
    opacity: .7;
   
}
.Btn-01 a{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--bgforignt);
    font-weight: 1000;
    scroll-behavior: smooth;

}
.Btn-02{
    width: 10%;
    height: 10vh;
    border: 4px solid var(--bgforignt);
    border-radius: 30px;
    text-align: center;
    position: absolute;
    left: 74%;
    bottom: 5%;
    background-color: transparent;
    opacity: .7;
}
.Btn-02 a{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--bgforignt);
    font-weight: 1000;
}
