*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
}
.contaner{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    transform: rotate(-30deg);
    animation: animatecolor 2s ease-in-out infinite;
}
.contaner .loader{
    position: absolute;
    top:100px;
    left: 50%;
    transform: translate(-50%,-50%) rotate(30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow:0 0 20px brown,
    0 0 40px brown,
    0 0 60px brown;
    -webkit-box-reflect: below 2px linear-gradient(transparent,rgba(255,255,255,0.5));
   
}
.contaner:hover .loader
{
    animation:animateK 1.5s ease-in-out forwards;
    transition: visibility 2s ease-in-out;
    visibility:hidden;
}
@keyframes animateK{
    0%{
        box-shadow: 0 0 20px brown,
        0 0 40px brown;
        border-radius: 10%;
    }
    25%{
        border-radius: 20%;
    }
    50%{
        border-radius: 50%;
    }
    70%{
        border-radius: 30%;
    }
    80%{
        border-radius: 35%;
    }
    100%{
        background-color: brown;
        box-shadow: 0 0 20px brown,
        0 0 40px brown,
        0 0 60px brown,
        0 0 80px brown;
        border-radius: 50%;
    }
}
@keyframes stop{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
 .contaner:hover .box{
    opacity: 1;
    transition-delay: 2.1s;
} 

.contaner .loader span{
    position: absolute;
    display: block;
    box-shadow: 0 0 20px brown,
    0 0 40px brown,
    0 0 60px brown;
    animation-delay: calc(-0.1s * var(--i));
}
.contaner .loader span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 30px;
    background:linear-gradient(90deg, transparent, brown);
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
.contaner .loader span:nth-child(2){
    top:-100%;
    right: 0;
    width: 30px;
    height: 100%;
    background:linear-gradient(180deg, transparent, brown);
    animation: animate2 1s linear infinite;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}
.contaner .loader span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 30px;
    background:linear-gradient(90deg, transparent, brown);
    animation: animate3 1s linear infinite;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
.contaner .loader span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 30px;
    height: 100%;
    background:linear-gradient(180deg, transparent, brown);
    animation: animate4 1s linear infinite;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}
.contaner .box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:transparent;
    -webkit-box-reflect: below 1px linear-gradient(transparent, brown);
     animation: animatebew 1s linear infinite forwards;
    /* animation-play-state: paused;   */
    opacity: 0;
}
@keyframes animatebew{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200px);
    }
}
.contaner .box .cube{
    position: relative;
    top:0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: brown;
    box-shadow: 0 0 20px brown,
    0 0 40px brown,
    0 0 60px brown,
    0 0 80px brown,
    0 0 100px rgba(165, 42, 42, 0.518),
    0 0 200px rgba(165, 42, 42, 0.3);
    border-radius: 50%;
    transform-origin: bottom right;
    animation: animaterota 1s linear infinite forwards;
     /* animation-play-state: paused;  */

}
@keyframes animaterota{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    70%{
        filter: grayscale(0);
        transform: rotate(80deg)
    }
    75%{
        transform: rotate(90deg);
    }
    80%{
        filter: hue-rotate(360deg);
        transform: rotate(82deg);
    }
    85%,100%{
        transform: rotate(90deg);
    }
}
.Btn-01{
    width: 10%;
    height: 10vh;
    border: 4px solid #f1ede8e6;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: transparent;
    opacity: .7;
   
}
.Btn-01 a{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(178, 182, 185);
    font-weight: 1000;

}
.Btn-02{
    width: 10%;
    height: 10vh;
    border: 4px solid #f1ede8e6;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    left: 74%;
    bottom: 5%;
    background-color: transparent;
    opacity: .7;
}
.Btn-02 a{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(178, 182, 185);
    font-weight: 1000;
}
