@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poltawski+Nowy:wght@700&family=Roboto:ital,wght@0,300;1,100;1,700&display=swap');
:root{
    --primary: #ee0705fc;
    --color:aliceblue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poltawski Nowy', serif;
}
body{
    background: var(--primary);
    overflow: hidden;
}
.container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: perspective(500px);
    transform-style: preserve-3d;
}
.container .title{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 900;
    color: var(--color);
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.2),
    2px 2px 0 rgba(255,255,255,0.2),
    3px 3px 0 rgba(255,255,255,0.2),
    4px 4px 0 rgba(255,255,255,0.2),
    5px 5px 0 rgba(255,255,255,0.2),
    6px 6px 0 rgba(255,255,255,0.2),
    7px 7px 0 rgba(255,255,255,0.2),
    8px 8px 0 rgba(255,255,255,0.2),
    9px 9px 0 rgba(255,255,255,0.2),
    20px 20px 0 #0000001a;
}
.container .title span{
    font-size: 6rem;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.2),
    2px 2px 0 rgba(255,255,255,0.2),
    3px 3px 0 rgba(255,255,255,0.2),
    4px 4px 0 rgba(255,255,255,0.2),
    5px 5px 0 rgba(255,255,255,0.2),
    6px 6px 0 rgba(255,255,255,0.2),
    7px 7px 0 rgba(255,255,255,0.2),
    8px 8px 0 rgba(255,255,255,0.2),
    9px 9px 0 rgba(255,255,255,0.2),
    20px 20px 0 rgba(0,0,0,0.1);
}
.container .content-no{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 900;
    color: var(--color);
    text-align: center;
    opacity: 0;
    transition: 1s ease-in;
}
.container .content-no span{
    font-size: 6rem;
}
.loader{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(500px);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .heart{
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--primary);
    box-shadow: 20px 20px 40px rgba(0,0,0,0.2);
    transform: rotate(45deg);
    transform-style: preserve-3d;
    animation: animate 10s ease-in-out forwards; 
    animation-delay: 2.2s;
    opacity: 0;
}
@keyframes animate{
    0%{
        transform: translateZ(-2000px);
    }
    60%{
        transform: scale(0.8) rotate(45deg);
        opacity: 1;
    }
    70%{
        transform: scale(0.7) rotate(45deg);
        opacity: 0.8;
    }
    80%{
        transform: scale(1) rotate(45deg);
        opacity: 0.7;
    }
    100%{
        transform: translateZ(0) rotate(45deg) scale(0.8);
        opacity: 0.6;
    }
}
.loader .heart::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -50%;
    top:0;
    background: var(--primary);
    box-shadow: -20px 0 20px rgba(0,0,0,0.1);
    border-radius: 50%;
}
.loader .heart::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -50%;
    left: 0;
    background: var(--primary);
    box-shadow: 0 -20px 20px rgba(0,0,0,0.1);
    border-radius: 50%;
}
.slideX {
    animation: animateTwo 5s ease-in forwards;
}
@keyframes animateTwo {
    0%{
        transform: translateX(0) 
    }
    100%{
        transform: translateX(1700px) ;
        opacity: 0,6;
    }
}
.container .wish{
    font-size: 3rem;
    color: var(--color);
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin: 10px;
    line-height: 100px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.2),
    2px 2px 0 rgba(255,255,255,0.2),
    3px 3px 0 rgba(255,255,255,0.2),
    4px 4px 0 rgba(255,255,255,0.2),
    5px 5px 0 rgba(255,255,255,0.2),
    6px 6px 0 rgba(255,255,255,0.2),
    10px 10px 0 rgba(0,0,0,0.1);
    opacity: 0;
    transition: 0.5s ease-in-out;
    animation: animateWish 2s linear forwards;
    cursor: pointer;
}
@keyframes animateWish{
    100%{
        opacity: 1;
    }
}
.Btn-01{
    width: 10%;
    height: 10vh;
    border: 4px solid #f1ede8e6;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: transparent;
    opacity: .7;
   
}
.Btn-01 a{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(178, 182, 185);
    font-weight: 1000;
    scroll-behavior: smooth;

}
.Btn-02{
    width: 10%;
    height: 10vh;
    border: 4px solid #f1ede8e6;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    left: 74%;
    bottom: 5%;
    background-color: transparent;
    opacity: .7;
}
.Btn-02 a{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(178, 182, 185);
    font-weight: 1000;
}
